@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lexend+Deca:wght@100..900&display=swap');

body {
  margin: 0; /* remove default browser margin */
  min-height: 100vh; /* ensure body covers the viewport */
  background: linear-gradient(
    135deg,
    rgba(112, 0, 67, 1) 0%,
    rgba(0, 94, 88, 1) 50%,
    rgba(0, 74, 46, 1) 100%
  );
  background-repeat: no-repeat; /* no tiling */
  background-size: cover; /* stretch to fill screen */
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gloria Hallelujah", "Comic Sans", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}
